/* styles.css */
body {
    background-color: #dfdfdf;
}

p {
    color: #333;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}

a {
    font-family: 'Helvetica', sans-serif;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #00458f;
    color: white;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

h1 {
    font-family: 'Impact', Times, serif;
    color: #002144;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-family: 'Trebuchet MS', Times, serif;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-decoration:underline;
}