---
import MainLayout from "../../layouts/MainLayout.astro";
import SmallButton from "../../components/Button";
---

<MainLayout
  pageTitle="O que é Geofísica?"
  pageUrl="https://geofisicahub.live/about/about-geophysics"
  pageDescription="Saiba mais sobre o que é a Geofísica!"
>
  <div class="columns has-text-justified">
    <div class="column"></div>
    <div class="column is-four-fifths">
      <hr />
      <div class="columns">
        <div class="column is-three-quarters">
          <div class="is-size-5 block" id="oqueegeofisica">
            A Geofísica é a ciência que estuda a subsuperfície terrestre e suas
            características através de métodos indiretos que baseiam-se em
            diferentes propriedades físicas (resistividade, condutividade
            elétrica, densidade, susceptibilidade magnética, dentre outros). Ela
            investiga o subterrâneo desde as camadas mais rasas até as mais
            profundas, buscando entender a estrutura, a composição, os sistemas
            e os processos dinâmicos da Terra.
          </div>
          <figure>
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Falcanzandoelconocimiento.com%2Fwp-content%2Fuploads%2F2020%2F06%2FESTRUCTURA-TIERRA-770x480.jpg&f=1&nofb=1&ipt=4c98bef09d1551bcf0fb6e203f7c6190fcb6a97b8221a71170eb40b26b894b28&ipo=images"
            />

            <figcaption>Figura 1: Esquema do núcleo da Terra</figcaption>
          </figure>
          <div class="is-size-5 block">
            Além disso, a geofísica observa e calcula os movimentos do solo e do
            subsolo e pesquisa a origem e a atividade dos vulcões, a curvatura
            do planeta e outras características geofísicas do globo. Detecta e
            mede a intensidade de terremotos e maremotos, investiga a estrutura
            das formações rochosas e as propriedades físicoquímicas dos mares.
            Costuma ser separada em Geofísica Pura e Geofísica Aplicada. A
            Primeira, de uma maneira geral, fornece informações para o estudo da
            estrutura e composição do interior da Terra. A segunda compreende um
            conjunto de métodos e técnicas, utilizadas para a solução de
            problemas práticos dos seres humanos, tais como prospecção de
            hidrocarbonetos, de minérios e de águas subterrâneas, estudos
            ambientais e de engenharia, entre outros.
          </div>
          <hr />
          <h2 class="is-size-3 has-text-centered" id="aplicacoes">
            Quais são as aplicações?
          </h2>
          <div class="is-size-5 block">
            O geofísico é o profissional que estuda as propriedades físicas, a
            estrutura, a composição e os processos dinâmicos e fenomenais da
            Terra. Seu trabalho é investigar os fenômenos elétricos, magnéticos,
            gravitacionais, sísmicos e térmicos do planeta. Também é função do
            geofísico calcular a movimentação do solo e dos vulcões, medindo a
            intensidade de terremotos e maremotos, investigar as composições
            físico-químicas dos oceanos e formações rochosas e medir as forças
            que afetam o globo terrestre. Para isso, ele se utiliza das leis da
            Matemática e da Física para planejar e executar levantamentos
            geofísicos. As principais áreas de atuação do geofísico são:
            <dl>
              <dt>
                <i class="fa-solid fa-oil-well"></i>&nbsp;<b
                  >Indústria de Óleo e Gás
                </b>
              </dt>
              <dd>
                A principal área da Geofísica é a do Óleo e Gás, é onde se tem
                mais estudos, mais empregos, maiores salários e etc. Nessa área,
                a Geofísica Aplicada é utilizada para localizar e caracterizar
                reservatórios de Petróleo. Envolve sísmica principalmente, mas
                outros métodos também podem ser utilizados.
              </dd>
              <dt>
                <i class="fa-solid fa-gem"></i>&nbsp;<b>Mineração</b>
              </dt>
              <dd>
                A segunda principal área da Geofísica. Aqui são empregados
                diversos métodos geofísicos para identificação de depósitos
                minerais, leques aluviais, rios subterrâneos, poços, enfim,
                muitas coisas.
              </dd>
              <dt>
                <i class="fa-solid fa-helmet-safety"></i>&nbsp;<b>
                  Engenharia Civil
                </b>
              </dt>
              <dd>
                A geofísica é usada na engenharia civil para avaliar as
                condições do subsolo para fins de construção. Alguns métodos são
                utilizados, e a Geotecnia é uma área bem grande na Geologia e na
                Geofísica.
              </dd>
              <dt>
                <i class="fa-solid fa-seedling"></i>&nbsp;<b>
                  Preservação do meio-ambiente
                </b>
              </dt>
              <dd>
                Ela também é usada para monitorar a poluição do solo. Os métodos
                geofísicos mais utilizados nesta aplicação são a
                eletrorresistividade, a magnetometria e a radiometria.
              </dd>
            </dl>
            Além de diversas outras aplicações. A geofísica é uma ferramenta valiosa,
            pois fornece informações sobre a Terra e seus recursos.
          </div>
          <figure>
            <img src="/images/plataforma-petroleo.jpg" />
            <figcaption>
              Figura 2: Uma plataforma de Petróleo. Salários para quem trabalha
              embarcado podem chegar a R$20.000 por embarque. <a
                href="https://sheltermar.com.br/salarios-das-profissoes-nas-plataformas-de-petroleo-e-gas-offshore/"
                target="_blank"
                rel="noopener noreferrer">Fonte.</a
              >
            </figcaption>
          </figure>
          <hr />
          <h2 class="is-size-3 has-text-centered" id="universidades">
            Quais Universidades possuem Geofísica?
          </h2>
          <div class="is-size-5 block">
            Atualmente, apenas 9 universidades brasileiras oferecem o curso de
            graduação em Geofísica (e todas Federais):
          </div>
          <div class="columns">
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="http://www.igeo.ufba.br/geofisica/apresentacao"
                target="_blank"
                rel="noopener noreferrer">UFBA</a
              >
            </div>
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://sigaa.ufrn.br/sigaa/public/curso/portal.jsf?id=2936390&nivel=G&lc=pt_BR"
                target="_blank"
                rel="noopener noreferrer">UFRN</a
              >
            </div>
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://www.ig.ufpa.br/index.php/faculdade-de-geofisica"
                target="_blank"
                rel="noopener noreferrer">UFPA</a
              >
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://geofisica.uff.br/"
                target="_blank"
                rel="noopener noreferrer">UFF</a
              >
            </div>
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://www5.usp.br/ensino/graduacao/cursos-oferecidos/geofisica/"
                target="_blank"
                rel="noopener noreferrer">USP</a
              >
            </div>
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="http://www.igd.unb.br/index.php?option=com_content&view=article&id=695&Itemid=419"
                target="_blank"
                rel="noopener noreferrer">UnB</a
              >
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://www.lgc.ime.unicamp.br/"
                target="_blank"
                rel="noopener noreferrer">UNICAMP</a
              >
            </div>
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://ufop.br/noticias/extensao-e-cultura/curso-de-geofisica-aplicada-engenharia-geotecnica-e-ofertado-no"
                target="_blank"
                rel="noopener noreferrer">UFOP</a
              >
            </div>
            <div class="column">
              <a
                class="button is-primary is-fullwidth"
                href="https://cursos.unipampa.edu.br/cursos/geofisica/"
                target="_blank"
                rel="noopener noreferrer">UniPampa</a
              >
            </div>
          </div>
          <hr />
          <h2 class="is-size-3 has-text-centered" id="mercadotrabalho">
            Como é o mercado de trabalho?
          </h2>
          <div class="is-size-5 block">
            O mercado de trabalho na Geofísica está em expansão, particularmente
            nas áreas de exploração e prospecção de Petróleo, estudos
            ambientais, mineração e geotecnia. Devido às recentes descobertas de
            petróleo no Brasil, a demanda por geofísicos especializados nessa
            área é alta. Além disso, a crescente conscientização sobre a
            preservação do meio meio-ambiente aumentou a importância da
            geofísica aplicada a estudos ambientais, tornando essa área
            igualmente promissora.
          </div>
          <div class="is-size-5 block">
            Os geofísicos podem esperar salários iniciais variando entre R$
            3.000 a R$ 6.000, dependendo da empresa e da área de atuação. No
            entanto, vale ressaltar que a profissão de geofísico ainda não é
            oficialmente reconhecida no Brasil, embora existam cargos
            específicos em grandes empresas como a Petrobras. Um projeto de lei
            para regular a profissão está em tramitação no Congresso Nacional já
            há alguns anos.
          </div>
          <figure>
            <img src="/images/slb.jpg" />
            <figcaption>
              Figura 3: Técnicos da Schlumberger trabalhando.
            </figcaption>
          </figure>
        </div>
        <div class="column has-text-left">
          <div class="box has-text-weight-bold custom-box has-background-black">
            <ol type="I">
              <li><a href="#oqueegeofisica">O que é Geofísica?</a></li>
              <hr />
              <li><a href="#aplicacoes">Quais as aplicações?</a></li>
              <hr />
              <li>
                <a href="#universidades"
                  >Quais universidades possuem Geofísica?</a
                >
              </li>
              <hr />
              <li>
                <a href="#mercadotrabalho">Como é o mercado de trabalho?</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
  <button class="button is-rounded custom-return-button" id="returnTop">
    <i class="fa-solid fa-angle-down fa-rotate-180"></i>
  </button>
</MainLayout>

<style>
  .custom-return-button {
    position: fixed;
    right: 500px;
    bottom: 500px;
    display: none;
  }
  a.button {
    background: rgb(16, 119, 188);
    transition: all 0.3s ease-in-out;
  }
  a.button:hover {
    transform: scale(1.05);
    background: rgb(38, 142, 210);
  }
</style>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const btn = document.getElementById("returnTop");

    if (btn != null) {
      btn.addEventListener("click", function () {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
    }

    if (btn != null) {
      window.addEventListener("scroll", function () {
        if (window.scrollY > 300) {
          btn.style.display = "block";
        } else {
          btn.style.display = "none";
        }
      });
    }
  });
</script>
