---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout pageTitle="PetroCalc">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, maxime.
  </p>
</MainLayout>