:root, [data-bs-theme=light] {
  --bs-primary: #003977;
  --bs-primary-rgb: 0,57,119;
  --bs-primary-text-emphasis: #001730;
  --bs-primary-bg-subtle: #CCD7E4;
  --bs-primary-border-subtle: #99B0C9;
  --bs-secondary: #d4d4d4;
  --bs-secondary-rgb: 212,212,212;
  --bs-secondary-text-emphasis: #555555;
  --bs-secondary-bg-subtle: #F6F6F6;
  --bs-secondary-border-subtle: #EEEEEE;
  --bs-success: #002144;
  --bs-success-rgb: 0,33,68;
  --bs-success-text-emphasis: #000D1B;
  --bs-success-bg-subtle: #CCD3DA;
  --bs-success-border-subtle: #99A6B4;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #003977;
  --bs-btn-border-color: #003977;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #003065;
  --bs-btn-hover-border-color: #002E5F;
  --bs-btn-focus-shadow-rgb: 217,225,235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #002E5F;
  --bs-btn-active-border-color: #002B59;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #003977;
  --bs-btn-disabled-border-color: #003977;
}

.btn-outline-primary {
  --bs-btn-color: #003977;
  --bs-btn-border-color: #003977;
  --bs-btn-focus-shadow-rgb: 0,57,119;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #003977;
  --bs-btn-hover-border-color: #003977;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #003977;
  --bs-btn-active-border-color: #003977;
  --bs-btn-disabled-color: #003977;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #003977;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d4d4d4;
  --bs-btn-border-color: #d4d4d4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #DADADA;
  --bs-btn-hover-border-color: #D8D8D8;
  --bs-btn-focus-shadow-rgb: 32,32,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DDDDDD;
  --bs-btn-active-border-color: #D8D8D8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d4d4d4;
  --bs-btn-disabled-border-color: #d4d4d4;
}

.btn-outline-secondary {
  --bs-btn-color: #d4d4d4;
  --bs-btn-border-color: #d4d4d4;
  --bs-btn-focus-shadow-rgb: 212,212,212;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d4d4d4;
  --bs-btn-hover-border-color: #d4d4d4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d4d4d4;
  --bs-btn-active-border-color: #d4d4d4;
  --bs-btn-disabled-color: #d4d4d4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d4d4d4;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #002144;
  --bs-btn-border-color: #002144;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001C3A;
  --bs-btn-hover-border-color: #001A36;
  --bs-btn-focus-shadow-rgb: 217,222,227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001A36;
  --bs-btn-active-border-color: #001933;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #002144;
  --bs-btn-disabled-border-color: #002144;
}

.btn-outline-success {
  --bs-btn-color: #002144;
  --bs-btn-border-color: #002144;
  --bs-btn-focus-shadow-rgb: 0,33,68;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #002144;
  --bs-btn-hover-border-color: #002144;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #002144;
  --bs-btn-active-border-color: #002144;
  --bs-btn-disabled-color: #002144;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #002144;
}

[data-bs-theme=dark] {
  --bs-primary: #0D0D0D;
  --bs-primary-rgb: 13,13,13;
  --bs-primary-text-emphasis: #6E6E6E;
  --bs-primary-bg-subtle: #030303;
  --bs-primary-border-subtle: #080808;
  --bs-secondary: #282828;
  --bs-secondary-rgb: 40,40,40;
  --bs-secondary-text-emphasis: #7E7E7E;
  --bs-secondary-bg-subtle: #080808;
  --bs-secondary-border-subtle: #181818;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0D0D0D;
  --bs-btn-border-color: #0D0D0D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0B0B0B;
  --bs-btn-hover-border-color: #0A0A0A;
  --bs-btn-focus-shadow-rgb: 219,219,219;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A0A0A;
  --bs-btn-active-border-color: #0A0A0A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0D0D0D;
  --bs-btn-disabled-border-color: #0D0D0D;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #0D0D0D;
  --bs-btn-border-color: #0D0D0D;
  --bs-btn-focus-shadow-rgb: 13,13,13;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0D0D0D;
  --bs-btn-hover-border-color: #0D0D0D;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0D0D0D;
  --bs-btn-active-border-color: #0D0D0D;
  --bs-btn-disabled-color: #0D0D0D;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0D0D0D;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #282828;
  --bs-btn-border-color: #282828;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #222222;
  --bs-btn-hover-border-color: #202020;
  --bs-btn-focus-shadow-rgb: 223,223,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #202020;
  --bs-btn-active-border-color: #1E1E1E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #282828;
  --bs-btn-disabled-border-color: #282828;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #282828;
  --bs-btn-border-color: #282828;
  --bs-btn-focus-shadow-rgb: 40,40,40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #282828;
  --bs-btn-hover-border-color: #282828;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #282828;
  --bs-btn-active-border-color: #282828;
  --bs-btn-disabled-color: #282828;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #282828;
}

