:root, [data-bs-theme=light] {
  --bs-primary: #e4e9f7;
  --bs-primary-rgb: 228,233,247;
  --bs-primary-text-emphasis: #5B5D63;
  --bs-primary-bg-subtle: #FAFBFD;
  --bs-primary-border-subtle: #F4F6FC;
  --bs-info: #212529;
  --bs-info-rgb: 33,37,41;
  --bs-info-text-emphasis: #0D0F10;
  --bs-info-bg-subtle: #D3D3D4;
  --bs-info-border-subtle: #A6A8A9;
  --bs-danger: #e4e9f7;
  --bs-danger-rgb: 228,233,247;
  --bs-danger-text-emphasis: #5B5D63;
  --bs-danger-bg-subtle: #FAFBFD;
  --bs-danger-border-subtle: #F4F6FC;
  --bs-link-color: #6e89d5;
  --bs-link-color-rgb: 110,137,213;
  --bs-link-hover-color: #212121;
  --bs-link-hover-color-rgb: 33,33,33;
  --bs-border-style: solid;
  --bs-border-color: #aeaeae;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e4e9f7;
  --bs-btn-border-color: #e4e9f7;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E8ECF8;
  --bs-btn-hover-border-color: #E7EBF8;
  --bs-btn-focus-shadow-rgb: 34,35,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E9EDF9;
  --bs-btn-active-border-color: #E7EBF8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e4e9f7;
  --bs-btn-disabled-border-color: #e4e9f7;
}

.btn-outline-primary {
  --bs-btn-color: #e4e9f7;
  --bs-btn-border-color: #e4e9f7;
  --bs-btn-focus-shadow-rgb: 228,233,247;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e4e9f7;
  --bs-btn-hover-border-color: #e4e9f7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e4e9f7;
  --bs-btn-active-border-color: #e4e9f7;
  --bs-btn-disabled-color: #e4e9f7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e4e9f7;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1C1F23;
  --bs-btn-hover-border-color: #1A1E21;
  --bs-btn-focus-shadow-rgb: 222,222,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1A1E21;
  --bs-btn-active-border-color: #191C1F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-outline-info {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33,37,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e4e9f7;
  --bs-btn-border-color: #e4e9f7;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E8ECF8;
  --bs-btn-hover-border-color: #E7EBF8;
  --bs-btn-focus-shadow-rgb: 34,35,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E9EDF9;
  --bs-btn-active-border-color: #E7EBF8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e4e9f7;
  --bs-btn-disabled-border-color: #e4e9f7;
}

.btn-outline-danger {
  --bs-btn-color: #e4e9f7;
  --bs-btn-border-color: #e4e9f7;
  --bs-btn-focus-shadow-rgb: 228,233,247;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e4e9f7;
  --bs-btn-hover-border-color: #e4e9f7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e4e9f7;
  --bs-btn-active-border-color: #e4e9f7;
  --bs-btn-disabled-color: #e4e9f7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e4e9f7;
}

[data-bs-theme=dark] {
  --bs-info: #0f1112;
  --bs-info-rgb: 15,17,18;
  --bs-info-text-emphasis: #6F7071;
  --bs-info-bg-subtle: #030304;
  --bs-info-border-subtle: #090A0B;
  --bs-danger: #3b3b3b;
  --bs-danger-rgb: 59,59,59;
  --bs-danger-text-emphasis: #898989;
  --bs-danger-bg-subtle: #0C0C0C;
  --bs-danger-border-subtle: #232323;
  --bs-body-color: #e7e7e7;
  --bs-body-color-rgb: 231,231,231;
  --bs-secondary-color: rgba(231,231,231,0.75);
  --bs-secondary-color-rgb: 231,231,231,0.75;
  --bs-tertiary-color: rgba(231,231,231,0.5);
  --bs-tertiary-color-rgb: 231,231,231,0.5;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0f1112;
  --bs-btn-border-color: #0f1112;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0D0E0F;
  --bs-btn-hover-border-color: #0C0E0E;
  --bs-btn-focus-shadow-rgb: 219,219,219;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0C0E0E;
  --bs-btn-active-border-color: #0B0D0E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0f1112;
  --bs-btn-disabled-border-color: #0f1112;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #0f1112;
  --bs-btn-border-color: #0f1112;
  --bs-btn-focus-shadow-rgb: 15,17,18;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0f1112;
  --bs-btn-hover-border-color: #0f1112;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0f1112;
  --bs-btn-active-border-color: #0f1112;
  --bs-btn-disabled-color: #0f1112;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0f1112;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3b3b3b;
  --bs-btn-border-color: #3b3b3b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #323232;
  --bs-btn-hover-border-color: #2F2F2F;
  --bs-btn-focus-shadow-rgb: 226,226,226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2F2F2F;
  --bs-btn-active-border-color: #2C2C2C;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3b3b3b;
  --bs-btn-disabled-border-color: #3b3b3b;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #3b3b3b;
  --bs-btn-border-color: #3b3b3b;
  --bs-btn-focus-shadow-rgb: 59,59,59;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3b3b3b;
  --bs-btn-hover-border-color: #3b3b3b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3b3b3b;
  --bs-btn-active-border-color: #3b3b3b;
  --bs-btn-disabled-color: #3b3b3b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3b3b3b;
}

