svg {
    position: absolute;
    top: -25%;
    left: 5%;
}

#mySvg circle {
    filter: blur(10px);
    position: absolute;
    top: -25%;
    left: 5%;
    animation: colorTransition 3s ease-in-out infinite;
}

@keyframes colorTransition {
    0%, 100% {
        fill: #d3840d;
    }
    50% {
        fill: #f18f0f;
    }
}