---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout pageTitle="Eventos"}>
    <p class="is-size-4 has-text-justified">
    Se você curte palestras, eventos ou congressos, esta página é perfeita pra você.
    Fique ligado nas seguintes organizações, pois sempre há eventos interessantes para assistir:
    </p>
    <dl class="is-size-4 has-text-justified">
        <dt class="title"><b>GSS - Goescientific Student Society</b></dt>
        <dd>É o capítulo estudantil da Geofísica na UFF. Um dos maiores capítulos
            do Brasil, e tem como propósito disseminar conhecimento científico no
            meio estudantil. Organiza palestras, mesas redondas e diversos outros
        eventos de interesse científico. <a href="https://gss.uff.br/">Saiba mais!</a></dd>
    </dl>
    <dl class="is-size-4 has-text-justified">
        <dt class="title"><b>SBGf - Sociedade Brasileira de Geofísica</b></dt>
        <dd>É uma sociedade científica sem fins lucrativos, que tem como objetivo 
            promover o desenvolvimento da Geofísica no Brasil. Organiza congressos, simpósios 
            e diversos eventos de interesse científico. <a href="https://www.sbgf.org.br/">Saiba mais!</a></dd>
    </dl>
    <dl class="is-size-4 has-text-justified">
        <dt class="title"><b>SEG - Society of Exploration Geophysicists</b></dt>
        <dd>É uma das principais sociedades de Geofísicos de alcance mundial.
            Frequentemente organiza grandes eventos e congressos, além de cursos e minicursos.
        <a href="http://www.seg.org/">Saiba mais!</a></dd>
    </dl>
    <dl class="is-size-4 has-text-justified">
        <dt class="title"><b>EAGE - European Association of Geoscientists & Engineers</b></dt>
        <dd>É uma das maiores associações de geocientistas e engenheiros do mundo.
            Assim como a SEG, frequentemente organiza grandes eventos e cursos.
            <a href="http://eage.org/">Saiba mais!</a></dd>
    </dl>
</MainLayout>

