---
import MainLayout from "../layouts/MainLayout.astro"
const pageTitle = "404"

---

<MainLayout pageTitle={pageTitle}>
	<h1 class="is-size-1 has-text-weight-bold">Olá, Mundo GeofisicaHub!</h1>



</MainLayout>