---
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm";
const pageTitle = "Contato";
---

<MainLayout
  pageTitle={pageTitle}
  pageUrl="https://geofisicahub.me/contact"
  pageDescription="Entre em contato com o GeofisicaHub!"
>
  <p class="is-size-5 has-text-weight-bold has-text-centered">
    Se você tiver qualquer sugestão ou críticas sobre o GeofisicaHub, sinta-se à
    vontade para entrar em contato!
  </p>
  <ContactForm client:load />
</MainLayout>
