---
import LandingPageLayout from "../layouts/LandingPageLayout.astro"


---

<LandingPageLayout >
	
	<div class="columns is-centered">
		<div class="column is-full has-text-centered">
		  <figure class="image is-inline-block">
			<img src="./assets/img/gifs/earth.gif">
		  </figure>
		</div>
	  </div>
	  <div class="columns">
		<div class="column is-fullwidth">
		  <div class="has-text-centered">
			<br>
			<h5 class="title is-2 has-text-centered">
			  Você já se sentiu perdido na Geofísica? Ou precisa de ajuda para
			  se orientar?
			</h5>
			<p class="has-text-centered is-size-5">
			  Seja qual for a sua situação, você está no lugar certo!
			  Bem-vindo ao GeofisicaHub, onde você encontrará tudo o que
			  precisa para seus estudos e trabalhos na área. Clique abaixo
			  para saber mais! Se você não conhece a Geofísica e chegou aqui
			  por acaso, venha descobrir mais sobre essa ciência fascinante!
			  Se você é aluno da Geofísica da UFF,&nbsp;<a href="./src/uff.html" style="font-weight: bold">clique aqui!</a>
			</p>
			<div class="buttons are-large is-centered mt-5 has-addons">
			  <a class="button is-rounded is-primary" href="./src/about.html">Saiba mais!</a>
			  <a class="button is-rounded is-inverted" href="./src/o-que-e-geofisica.html">Geofísica?</a>
			</div>
		  </div>
		</div>
	  </div>
	



</LandingPageLayout>