.custom-card {
  transition: all 0.3s ease-in-out;
  border: 1px solid #14161a;
}

.custom-card:hover {
  transform: translateY(-10px) scale(1.00);
  border: 1px solid #1077bc;
  box-shadow: 0 0.5em 1em -0.125em #0a4974; /* Adjust as needed */
}

.a-placeholder {
  color: #d7d7d7;
}

.custom-footer {
  background-color: hsl(204, 84%, 10%);
  transition: all 0.3s ease-in-out;
}
.custom-footer:hover {
  background-color: hsl(204, 84%, 20%);
}
