---
import Social from "./Social.astro";
---

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Geofisica<i class="has-text-primary">Hub</i></strong> by <a
        href="https://github.com/albano-a"><b>André Albano</b></a
      >. Me siga nesses locais:
    </p>
    <div class="buttons are-medium is-justify-content-center">
      <Social platform="github" username="albano-a" />
      <Social platform="linkedin" username="andre-albano" />
    </div>
  </div>
</footer>
