:root, [data-bs-theme=light] {
  --bs-primary: #003977;
  --bs-primary-rgb: 0,57,119;
  --bs-primary-text-emphasis: #001730;
  --bs-primary-bg-subtle: #CCD7E4;
  --bs-primary-border-subtle: #99B0C9;
  --bs-secondary: #d4d4d4;
  --bs-secondary-rgb: 212,212,212;
  --bs-secondary-text-emphasis: #555555;
  --bs-secondary-bg-subtle: #F6F6F6;
  --bs-secondary-border-subtle: #EEEEEE;
  --bs-success: #002144;
  --bs-success-rgb: 0,33,68;
  --bs-success-text-emphasis: #000D1B;
  --bs-success-bg-subtle: #CCD3DA;
  --bs-success-border-subtle: #99A6B4;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #003977;
  --bs-btn-border-color: #003977;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #003065;
  --bs-btn-hover-border-color: #002E5F;
  --bs-btn-focus-shadow-rgb: 217,225,235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #002E5F;
  --bs-btn-active-border-color: #002B59;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #003977;
  --bs-btn-disabled-border-color: #003977;
}

.btn-outline-primary {
  --bs-btn-color: #003977;
  --bs-btn-border-color: #003977;
  --bs-btn-focus-shadow-rgb: 0,57,119;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #003977;
  --bs-btn-hover-border-color: #003977;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #003977;
  --bs-btn-active-border-color: #003977;
  --bs-btn-disabled-color: #003977;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #003977;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d4d4d4;
  --bs-btn-border-color: #d4d4d4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #DADADA;
  --bs-btn-hover-border-color: #D8D8D8;
  --bs-btn-focus-shadow-rgb: 32,32,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DDDDDD;
  --bs-btn-active-border-color: #D8D8D8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d4d4d4;
  --bs-btn-disabled-border-color: #d4d4d4;
}

.btn-outline-secondary {
  --bs-btn-color: #d4d4d4;
  --bs-btn-border-color: #d4d4d4;
  --bs-btn-focus-shadow-rgb: 212,212,212;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d4d4d4;
  --bs-btn-hover-border-color: #d4d4d4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d4d4d4;
  --bs-btn-active-border-color: #d4d4d4;
  --bs-btn-disabled-color: #d4d4d4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d4d4d4;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #002144;
  --bs-btn-border-color: #002144;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001C3A;
  --bs-btn-hover-border-color: #001A36;
  --bs-btn-focus-shadow-rgb: 217,222,227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001A36;
  --bs-btn-active-border-color: #001933;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #002144;
  --bs-btn-disabled-border-color: #002144;
}

.btn-outline-success {
  --bs-btn-color: #002144;
  --bs-btn-border-color: #002144;
  --bs-btn-focus-shadow-rgb: 0,33,68;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #002144;
  --bs-btn-hover-border-color: #002144;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #002144;
  --bs-btn-active-border-color: #002144;
  --bs-btn-disabled-color: #002144;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #002144;
}

[data-bs-theme=dark] {
  --bs-primary: #010409;
  --bs-primary-rgb: 1,4,9;
  --bs-primary-text-emphasis: #67686B;
  --bs-primary-bg-subtle: #000102;
  --bs-primary-border-subtle: #010205;
  --bs-secondary: #0d1117;
  --bs-secondary-rgb: 13,17,23;
  --bs-secondary-text-emphasis: #6E7074;
  --bs-secondary-bg-subtle: #030305;
  --bs-secondary-border-subtle: #080A0E;
  --bs-light: #f8f9fa;
  --bs-light-rgb: 248,249,250;
  --bs-light-text-emphasis: #FBFBFC;
  --bs-light-bg-subtle: #323232;
  --bs-light-border-subtle: #959596;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #010409;
  --bs-btn-border-color: #010409;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #010308;
  --bs-btn-hover-border-color: #010307;
  --bs-btn-focus-shadow-rgb: 217,217,218;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #010307;
  --bs-btn-active-border-color: #010307;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #010409;
  --bs-btn-disabled-border-color: #010409;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #010409;
  --bs-btn-border-color: #010409;
  --bs-btn-focus-shadow-rgb: 1,4,9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #010409;
  --bs-btn-hover-border-color: #010409;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #010409;
  --bs-btn-active-border-color: #010409;
  --bs-btn-disabled-color: #010409;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #010409;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d1117;
  --bs-btn-border-color: #0d1117;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0B0E14;
  --bs-btn-hover-border-color: #0A0E12;
  --bs-btn-focus-shadow-rgb: 219,219,220;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A0E12;
  --bs-btn-active-border-color: #0A0D11;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d1117;
  --bs-btn-disabled-border-color: #0d1117;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #0d1117;
  --bs-btn-border-color: #0d1117;
  --bs-btn-focus-shadow-rgb: 13,17,23;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d1117;
  --bs-btn-hover-border-color: #0d1117;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d1117;
  --bs-btn-active-border-color: #0d1117;
  --bs-btn-disabled-color: #0d1117;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d1117;
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D3D4D5;
  --bs-btn-hover-border-color: #C6C7C8;
  --bs-btn-focus-shadow-rgb: 37,37,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C6C7C8;
  --bs-btn-active-border-color: #BABBBC;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
}

