---
import "../style/geofisico.css";
import Header from "../components/Header.astro";

const {pageTitle, pageURL, description } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{pageTitle}</title>


    <script
      is:inline
      src="https://kit.fontawesome.com/61000256a0.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <Header />
    
    <section class="section">
        <div class="container is-size-4">
            <slot />
        </div>
    </section>
</body>
</html>