---
import "../style/geofisico.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {pageTitle, pageURL, description } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{pageTitle}</title>


    <script
      is:inline
      src="https://kit.fontawesome.com/61000256a0.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <Header />
    
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h1 class="is-size-1 has-text-centered has-text-weight-black">
                            {pageTitle}
                        </h1>
                        <slot />
                    </div>
                </div>
                <div class="column is-3">
                    <!-- Create a component that opens and closes -->
                    
                </div>
            </div>
        </div>
    </section>

    <Footer />
</body>
</html>