---
import ExercisesLayout from "../../../layouts/ExercisesLayout.astro";
import CardExercises from "../../../components/CardExercises";
import QuizCard from "../../../components/CardQuestion";

import questions from "../../../data/geophysics-questions.json";
---

<ExercisesLayout
  pageTitle="GEOFÍSICA"
  pageUrl="https://geofisicahub.live/materials/exercise-pages/geophysics-exercises"
  pageDescription="Exercícios de Geofísica - GeofisicaHub"
>
  <div class="columns is-multiline">
    {
      questions.map((questionData) => (
        <div class="column is-full">
          <QuizCard client:load {...questionData} />
        </div>
      ))
    }
  </div>
</ExercisesLayout>
