---
import ExercisesLayout from "../../../layouts/ExercisesLayout.astro";
import CardExercises from "../../../components/CardExercises";
// import CardQuestion from "../../../components/CardQuestion";
---

<ExercisesLayout
  pageTitle="PROGRAMAÇÃO"
  pageUrl="https://geofisicahub.live/materials/exercise-pages/programming-exercises"
  pageDescription="Exercícios de Programação - GeofisicaHub"
  >
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <p class="has-text-justified is-size-5">
            Faça os exercícios abaixo
        </p>
    </div>
    <div class="column"></div>
  </div>
</ExercisesLayout>
