---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
import CardMaterials from "../../components/CardMaterials";

import SmallButton from "../../components/Button";
---

<MaterialsLayout pageTitle="CALCULO">
  <div class="buttons has-addons are-large is-centered">
    <button class="button" id="geophy">Geofísica</button>
    <button class="button" id="geol">Geologia</button>
    <button class="button is-primary is-selected" id="calc">Cálculo</button>
    <button class="button" id="phy">Física</button>
    <button class="button" id="pro">Programação </button>
  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <p class="has-text-justified is-size-5">
        Cálculo é uma fera de outro mundo. Uma das disciplinas mais difíceis de
        todos os cursos de STEM (Ciência, Tecnologia, Engenharia e Matemática).
        É a matéria que faz o filho chorar e a mãe não ver. Mas nem tudo está
        perdido. Os livros abaixo são uma boa fonte de estudos.
      </p>
      <p class="has-text-justified is-size-5">
        Há dois principais autores que eu recomendo, o primeiro é o Hamilton
        Guidorizzi (que são os 4 primeiros livros), ele é mais didático e
        explicativo, mas as disciplinas estão mais divididas entre os livros. O
        outro autor é o James Stewart que possui apenas dois livros, e engloba
        literalmente tudo de Cálculo. Ambos possuem exercícios muito bons, e o
        gabarito dos exercícios. Então vai de cada pessoa qual escolher para
        estudar.
      </p>
      <hr />
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Um curso de Cálculo - Vol.1 - Hamilton Guidorizzi (2001)"
            description=`
            Limite, Derivada e Integral (Uma variável)
            `
            href="https://drive.google.com/file/d/1ceJ8_GVSY3PPHTJ7-tRWWbdwhvyHHONI/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F31lTJSnoOPL.jpg&f=1&nofb=1&ipt=51fe2a7861f29d4a5f187ddc145989950b180916d78c30df5ed316bf11d353bd&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Um curso de Cálculo - Vol.2 - Hamilton Guidorizzi (2001)"
            description=`
            Continuação do Vol. 1, derivabilidade e soluções de EDO
            `
            href="https://drive.google.com/file/d/1IYhGxWyrV3ko23Sks64MPFAFNfKD-gZD/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.s-bol.com%2FDB4kpxwAKQB%2F550x776.jpg&f=1&nofb=1&ipt=89587a2b908718ee857a018f4fdcbfd2c909bc11a07c037beb4cbc8528836ee4&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Um curso de Cálculo - Vol.3 - Hamilton Guidorizzi (2001)"
            description=`
            Rotacional, Integral de Linha, Teorema de Green e Stokes`
            href="https://drive.google.com/file/d/1GX4fF2QbaCdUNk58PfWuLy19Sg2kMqeM/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F714Pt9pkw0L._SL1500_.jpg&f=1&nofb=1&ipt=442b556b95bedba1fd53cb18ad681b90ec82352bd69dd01e5a8e297cce1a5ee3&ipo=images"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Um curso de Cálculo - Vol.4 - Hamilton Guidorizzi (2001)"
            description=`
            Séries, Sequências e Transformadas (Laplace e Fourier)`
            href="https://drive.google.com/file/d/10SxVU-HTMKprD-VKDz6NZZxz0wwTir0U/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F31ilwYpm0ML.jpg&f=1&nofb=1&ipt=6d2311eca91425f43af59933de6642c902f854ab6dfb3c82fc77cdee6c90bc88&ipo=images"
          />
        </div>
        <div class="column is-one-third">
          <CardMaterials
            client:load
            title="Cálculo - Vol.1 - James Stewart (2014)"
            description=`
            Limites, Derivadas, Integrais, e Técnicas de Integração
            `
            href="https://drive.google.com/file/d/1L69Gjjzc0WMc7KmTX3foeouu3n44bl94/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F3.bp.blogspot.com%2F-aU9nJukTRHY%2FVmYv9CD-ivI%2FAAAAAAAABKs%2FXRZN64dAvuk%2Fs1600%2FCalculo%252BVolume%252B1%252B-%252BJames%252BStewart%252B-%252B7%252BEdi%2525C3%2525A7%2525C3%2525A3o.jpg&f=1&nofb=1&ipt=efa0179913784d089e7be1730f45b18e87c48e35cca82d79586153ad7dd90bbc&ipo=images"
          />
        </div>
        <div class="column is-one-third">
          <CardMaterials
            client:load
            title="Cálculo - Vol.2 - James Stewart (2014)"
            description=`
            Equações Diferenciais, Séries Infinitas, Derivadas Parciais
            `
            href="https://drive.google.com/file/d/1a7d5x3F7IIKkFJ4ZZl18BzAe0hx4mXCN/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-OfEJ19cabZ0%2FVmYxYcOtRLI%2FAAAAAAAABK4%2FHBZ1u2qtL3c%2Fs1600%2FCalculo%252BVolume%252B2%252B-%252BJames%252BStewart%252B-%252B7%252BEdi%2525C3%2525A7%2525C3%2525A3o.jpg&f=1&nofb=1&ipt=cc3cc9298ef0f3930c325b882d01b8b4598da09559a553e752644e4061b44dcd&ipo=images"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Cálculo e álgebra linear - Vol.1 - Wilfred Kaplan (1972)"
            description=`
            Vetores no Plano e Funções de uma Variável Pt. 1
            `
            href="https://drive.google.com/file/d/1-aRs7Vb07Q_c2Py6IvzwVfdOrNWSmEkj/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.traca.com.br%2Fcapas%2F970%2F970844.jpg&f=1&nofb=1&ipt=05973b606416a35b1442bd9fdbfd90965272a4466562b1ff4f6da5b569b92bd9&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Cálculo e álgebra linear - Vol.2 - Wilfred Kaplan (1972)"
            description=`
            Vetores no Plano e Funções de uma Variável Pt. 2
            `
            href="https://drive.google.com/file/d/1aNGzpcOLAoJTN5kixoE58sblJAKv0pS_/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.traca.com.br%2Fcapas%2F1512%2F1512939.jpg&f=1&nofb=1&ipt=272eaf64f77a7b9f805a9f0cc392e7afe28b4a15b2e7528fec09049d3c3c83b0&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Cálculo e álgebra linear - Vol.3 - Wilfred Kaplan (1972)"
            description=`
            Espaços vetoriais, Cálculo de duas variáveis
            `
            href="https://drive.google.com/file/d/1gSK0hSbf_gjAbcQaWq-4vvWs3oLD_Rhd/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.traca.com.br%2Fcapas%2F623%2F623082.jpg&f=1&nofb=1&ipt=eda9c2d2b548085961e1177dcc4594bd84943edd10461a9f216d863450b45ea0&ipo=images"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Cálculo e álgebra linear - Vol.4 - Wilfred Kaplan (1972)"
            description=`
            Cálculo com mais de uma Variável - Equações Diferenciais
            `
            href="https://drive.google.com/file/d/12EINsT-50LbSsTFxr1R8ZFYFYg1-RMiW/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.traca.com.br%2Fcapas%2F1452%2F1452591_mini.jpg&f=1&nofb=1&ipt=4e30335257096d21fde7a2e46d6407c6b68a0b3f3b4783af1abe40b2bbaebeab&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Calculus - Volume I - Tom Apostol (1967)"
            description=`
            One-Variable Calculus, with an Introduction to Linear Algebra
            `
            href="https://drive.google.com/file/d/199Zmf8kowTUUQflAzV2cA0h5PW6uRoJO/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.elsolucionario.me%2Fwp-content%2Farchivos%2F2019%2F09%2Fcalculus-vol-1-tom-m-apostol-2da-edicion.jpg&f=1&nofb=1&ipt=0fdae25aae2e7185a38ac7c4810622d6a9b06e63c0e001b0f63e4e5944770dbb&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Calculus - Volume II - Tom Apostol (1967)"
            description=`
            Multi-Variable Calculus and Linear Algebra
            `
            href="https://drive.google.com/file/d/1HGnM5Q09JYUIVDxyzWnNqkP2a5_zZ2yI/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.elsolucionario.me%2Fwp-content%2Farchivos%2F2019%2F09%2Fcalculus-vol-2-tom-m-apostol-2da-edicion.jpg&f=1&nofb=1&ipt=f9e476f181fac87848cdec30a94148ec5be8fbde2390ae4783b97bc0c2011ee1&ipo=images"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-third">
          <CardMaterials
            client:load
            title="Cálculo para Leigos - Mark Ryan (2011)"
            description=`
            Livro completo sobre Cálculo, explicado de forma simples.
            `
            href="https://drive.google.com/file/d/1BZdNDG4koOuLFqZmRKhF9BZ8kQUR9jl-/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61BX7LdFS6L._SL1000_.jpg&f=1&nofb=1&ipt=01d455de91c3b1a7d4e2a643334c03d801363dc5179133c2e456d68f122e6411&ipo=images"
          />
        </div>
        <div class="column is-one-third">
          <CardMaterials
            client:load
            title="Apostila de Geometria Analítica - GGM"
            description=`
            Apostila feita pelo Departamento de Geometria da UFF
            `
            href="https://drive.google.com/file/d/15aHdWTc0yQBuTT2Abc2NmBdM1O4sHiqZ/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.docsity.com%2Fdocuments_first_pages%2F2020%2F05%2F22%2F4288e8cda537e196eb01e5c6a1b4c36c.png%3Fv%3D1651912374&f=1&nofb=1&ipt=434664ab80c3ea49b4efe33281602f762dd177fc652d918ba05afcefdaa24cc7&ipo=images"
          />
        </div>
      </div>
      <p class="is-size-5 has-text-justified">
        Estas páginas são regularmente atualizadas, por isso, lembre-se de
        visitá-las de tempos em tempos para obter as informações mais
        recentes. Os PDFs fornecidos acima não devem ser redistribuídos.
      </p>
    </div>
    <div class="column"></div>
  </div>
</MaterialsLayout>

<script>
  import "../../scripts/hubnavigation.js";
</script>
