---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
import CardMaterials from "../../components/CardMaterials";

import SmallButton from "../../components/Button";
---

<MaterialsLayout
  pageTitle="GEOFÍSICA"
  pageUrl="https://geofisicahub.me/materials/geophysics"
  pageDescription="Materiais de Geofísica - GeofisicaHub"
>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <p class="has-text-justified is-size-5 mt-3">
        Aqui, você vai encontrar os principais livros de Geofísica. Tem desde os mais avançados, que cobrem processamento de sinais, sísmica e geofísica de reservatórios, até os mais introdutórios, como <i>Para Entender a Terra</i> e <i>Geofísica de Exploração</i>. Seja você um veterano ou alguém começando na área, essa lista tem um livro certo pra te ajudar.
      </p>
      <hr />
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Para entender a Terra - Press, Siever, Grotzinger e Jordan (2006)"
            description=`
            Um dos livros mais importantes para a Geofísica (e Geologia)
            `
            href="https://edisciplinas.usp.br/pluginfile.php/7296004/mod_resource/content/1/Para%20Entender%20a%20TerraPara%20Entender%20a%20Terra.pdf"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.rgstatic.net%2Fpublication%2F283349728_Para_Entender_a_Terra_By_Press_Siever_Grotzinger_Jordan_-_4ed_Traducao%2Flinks%2F5636208b08aeb786b703ee97%2Flargepreview.png&f=1&nofb=1&ipt=c75da2d56f4d1452dc128f9604175b2baf3b85678d674bc7b63fa38be6fe5991&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Geofísica de Exploração - Philip Kearey, Michael Brooks, Ian Hill (2002)"
            description=`
            Resume todos os métodos utilizados na Geofísica.
            `
            href="https://drive.google.com/file/d/1BOq_IAkVaSfnrm5Zp2zrWrN8X1acfI2J/view?usp=sharing"
            imgSrc="https://m.media-amazon.com/images/I/51aTvVj0DwL._SY445_SX342_.jpg"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Sinais e Sistemas - Alan V. Oppenheim | Alan S. Willsky (1983)"
            description=`
            Livro que cobre o processamento de sinais e sísmica.`
            href="https://drive.google.com/file/d/1FiSQWzfVe_75-dtTJ17NsE5sZsC2yo_g/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstaticbv.am4.com.br%2Fpublicacoes%2F2352%2Fthumbs%2Fthumbnail_397_x_595.jpg&f=1&nofb=1&ipt=8db516277f6f00b0eb4d34d397a3f03c31cd460eac7be9b85c27d169de0d09d6&ipo=images"
          />
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Acquisition and Processing of Marine Seismic Data - Dondurur (2018)"
            description=`
            Basicamente um guia do Processamento Sísmico
            `
            href="https://drive.google.com/file/d/1qZjPlScY3x1XDkRL-MGZIq4B-hz2-aNP/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.ebooks.com%2Fcover%2F96035986.jpg%3Fwidth%3D664%26height%3D1000%26quality%3D85&f=1&nofb=1&ipt=268485e7b3a72579fb14090eb4fb3b6272305d068dce50e64dbad24569610dc3&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Fundamentals of Geophysics - William Lowrie (2007)"
            description=`
            Livro semelhante ao de Geofísica de Exploração. 
            `
            href="https://drive.google.com/file/d/1oCDidkIe577SdOLzdbglrOtzQEDXspiH/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F71HwZOS3H3L._SL1360_.jpg&f=1&nofb=1&ipt=17c26203da883ff43b13581fbb176ab25a4871ed7fd8570bff7f20cfbf3cd8a6&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Schaum's Outlines Digital Signal Processing - Monson H. Hayes (1999)"
            description=`
            Outro livro sobre sinais e sistemas que é tão bom quanto.`
            href="https://drive.google.com/file/d/1HTTyIWhtZXpzlfh7qIOu67o4EcfmYE-F/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.OvX595vsFxiU1BELAB1amAHaKR%26pid%3DApi&f=1&ipt=39ce07e34ab00e42547086cb88c6d24ced473eba388a2d5ea3101cd92febf9a3&ipo=images"
          />
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Atlas of Typical Seismic and Geological Sections for Major Petroliferous Basins in China - Shouli Qu (2021)"
            description=`
            Este livro é uma referência importante para Geofísicos.
            `
            href="https://drive.google.com/file/d/1z9pEuwQf9zczVM0u7c1LXhiT0DiUBNr2/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.s-bol.com%2FmqLlEy0RMwzA%2F550x834.jpg&f=1&nofb=1&ipt=c173e1210e9637620baa21ca7cc8c865aca2c97d161bd9fb65418c0d324cc559&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Seismic Stratigraphy, Basin Analysis and Reservoir Characterisation - P.C.H. Veeken (2007)"
            description=`
            Grande manual de exploração Geofísica e estratigrafia.
            `
            href="https://drive.google.com/file/d/1kV_YyaBv46DsR_2meHq45mebgg-xkzED/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.rgstatic.net%2Fpublication%2F264739818_Seismic_Stratigraphy_Basin_Analysis_and_Reservoir_Characterisation%2Flinks%2F5bbef94292851c4efd563d9a%2Flargepreview.png&f=1&nofb=1&ipt=566750c1a845c9208efe0d125fbf1fca2b26534e76d990320580c33d0607cf18&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Sinais e Sistemas Lineares - B.P. Lathi (2007)"
            description=`
            Como pode ver é uma parte bem importante da Geofísica.`
            href="https://drive.google.com/file/d/1tyok8U_txtstRKTR4Zpdvec2LoXqyVlW/view?usp=drive_link"
            imgSrc=`
            https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81WMbSEVjeL._SL1500_.jpg&f=1&nofb=1&ipt=7ee1b82d8f550ef67ee8cc11f1e80b355dfe8012acf662051c29558b021eb37a&ipo=images`
          />
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Well Logging for Earth Scientists - Darwin V. Ellis & Julian M. Singer"
            description=`
            Livro importante para análise de perfil de poço. 
            `
            href="https://drive.google.com/file/d/1KUa6KlhgyQnqYgaoItXxNd3crnXCXOiO/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmediacdn.nhbs.com%2Fjackets%2Fjackets_resizer_xlarge%2F16%2F165856.jpg%3Fheight%3D620&f=1&nofb=1&ipt=3ac5732849a440ae13e3e3d09aab731de29e9561f7ec3af7c4a91cb4d9920a59&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Log Interpretation Charts - Schlumberger (2009)"
            description=`
            É um guia completo feito pela Schlumberger.
            `
            href="https://drive.google.com/file/d/1B8UKGJd8h9wPby1txbHn3K6F3DFN6Lgh/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-Mlr4N-fXcJg%2FUirraJYa5CI%2FAAAAAAAAAto%2FGbMCzjjE_gI%2Fs1600%2FLog%2BInterpretation%2Bchats%2BBy%2BSchlumberger.bmp&f=1&nofb=1&ipt=7b5d73432ea8f584927e07eb2fbe6d711dbf76cde36162057abcfc4ef0477c8b&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Seismic Amplitude - An Interpreter's Handbook - Rob Simm and Mike Bacon (2014)"
            description=`
            Um dos principais livros da Geofísica de Reservatório.`
            href="https://drive.google.com/file/d/1aLWX2DcZUTbr3QEKqpLijg-hnr-8snBI/view?usp=drive_link"
            imgSrc=`
            https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmediacdn.nhbs.com%2Fjackets%2Fjackets_resizer_xlarge%2F20%2F208971.jpg&f=1&nofb=1&ipt=587869da85bcd9341a00cd124a97a163f9bc53ba68cc7a95496c360a2b7db8f3&ipo=images`
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Seismic Reflections of Rock Properties - Jack Dvorkin, Mario A. Gutierrez and Dario Grana (2014)"
            description=`
            Importante para Geofísica de Reservatório
            `
            href="https://drive.google.com/file/d/1OQhZqdeGyRHCTWxaJwqFOD0XqEFuJM3v/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmediacdn.nhbs.com%2Fjackets%2Fjackets_resizer_xlarge%2F20%2F208163.jpg&f=1&nofb=1&ipt=eedad63c314fdfa84066a9ac536a9fadadbb3ff68f1507a1f74bc5109ba059e9&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Exploration Seismology - Robert E. Sheriff (2002)"
            description=`
            Importante para Sismologia e Exploração
            `
            href="https://drive.google.com/file/d/1YGVxjSsim0ecPKjw3uVNpR-D0IBQzvQb/view?usp=drive_link"
            imgSrc="https://jncinc.co.uk/cdn/shop/products/0521468264.01._SS500_SCLZZZZZZZ_V1056466915_360x.jpg?v=1576884766"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Seismic Reflections of Rock Properties - Jack Dvorkin, Mario A. Gutierrez and Dario Grana (2014)"
            description=`
            Importante para Geofísica de Reservatório
            `
            href="https://drive.google.com/file/d/11uHe1-kdOXDVLpLyYBLSlTsqaV7r4eOp/view?usp=drive_link"
            imgSrc="https://m.media-amazon.com/images/I/51TbxKwBwZL._AC_UF1000,1000_QL80_.jpg"
          />
        </div>
      </div>
    </div>

    <div class="column"></div>
  </div>
</MaterialsLayout>
