---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
import Card from "../../components/Card.astro";
import HubButtons from "../../components/ButtonHub";

import SmallButton from "../../components/Button";
---

<MaterialsLayout
  pageTitle="HUB"
  pageUrl="https://geofisicahub.me/materials/hub"
  pageDescription="HUB - GeofisicaHub"
>
  <p class="has-text-centered is-size-5">
    Bom, o site não se chama Geofisica<b>HUB</b> por nada, então nessa página você
    encontra o HUB onde poderá acessar os materiais de cada página.
  </p>
</MaterialsLayout>
