---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
import Card from "../../components/Card.astro";
import HubButtons from "../../components/ButtonHub";

import SmallButton from "../../components/Button";
---

<MaterialsLayout
  pageTitle="HUB"
  pageUrl="https://geofisicahub.me/materials/hub"
  pageDescription="HUB - GeofisicaHub"
>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <p class="has-text-centered is-size-5 mt-3">
        Bom, o site não se chama Geofísica<b>HUB</b> à toa. Nesta página, você
        encontra o HUB, onde pode acessar os materiais de cada seção de forma
        organizada e fácil.
      </p>
    </div>
    <div class="column"></div>
  </div>
</MaterialsLayout>
