---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
---

<MaterialsLayout pageTitle="HUB">

    <h1>Hello World</h1>
    <p class="has-text-justified">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Labore tempora repellendus magnam culpa, beatae officiis quas saepe ab necessitatibus 
        blanditiis nulla totam, commodi aperiam nesciunt ipsum reiciendis. Iusto tempore cupiditate 
        fugiat reprehenderit. Eligendi quae quaerat quia adipisci expedita. Consequatur obcaecati eaque 
        corrupti reiciendis necessitatibus iure, asperiores dignissimos qui. Facilis tempora dolore ratione 
        sapiente aspernatur cumque iusto, accusamus ipsa sed vero, mollitia totam veritatis. 
        Dolorum excepturi voluptates animi, ipsa rem, fuga inventore hic autem quasi, consequuntur 
        necessitatibus laudantium blanditiis ea. Architecto officiis ullam, quod maxime commodi iure ex? 
        Fuga, doloremque eveniet! Quidem deleniti corporis sapiente, ipsam maiores esse soluta velit. Quis!</p>
</MaterialsLayout>