---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
import Card from "../../components/Card.astro";

import SmallButton from "../../components/Button";
---

<MaterialsLayout pageTitle="HUB">
  <div class="buttons has-addons are-large is-centered">
    <a href="./geophysics"><button class="button">Geofísica</button></a>
    <a href="./geology"><button class="button">Geologia</button></a>
    <a href="./calculus"><button class="button">Cálculo</button></a>
    <a href="./physics"><button class="button">Física</button></a>
    <a href="./programming"><button class="button">Programação</button></a>
  </div>
  <p class="has-text-centered is-size-5">
    Bom, o site não se chama Geofisica<b>HUB</b> por nada, então nessa página você
    encontra o HUB onde poderá acessar os materiais de cada página.
  </p>
</MaterialsLayout>
