---
import MaterialsLayout from "../../layouts/MaterialsLayout.astro";
import CardMaterials from "../../components/CardMaterials";

import SmallButton from "../../components/Button";
---

<MaterialsLayout
  pageTitle="FÍSICA"
  pageUrl="https://geofisicahub.live/materials/physics"
  pageDescription="Materiais de Física - GeofisicaHub"
>
  <div class="buttons has-addons are-large is-centered">
    <button class="button" id="geophy">Geofísica</button>
    <button class="button" id="geol">Geologia</button>
    <button class="button" id="calc">Cálculo</button>
    <button class="button is-primary is-selected" id="phy">Física</button>
    <button class="button" id="pro">Programação </button>
  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <p class="has-text-justified is-size-5">
        Física universitária geralmente é dividida em três disciplinas. Física
        mecânica, física eletromangética e a física termodinâmica. Não tão
        desafiador quanto cálculo, mas é uma disciplina bem complexa.
      </p>
      <hr />
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Física - Uma Abordagem Estratégica - Vol.1 - Randall D. Knight (2009)"
            description=`
            Mecânica Newtoniana e Gravitação
            `
            href="https://drive.google.com/file/d/15VdiN_f9bKpfV5KtK1pocaQBVOYixWHc/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-EbOto2edctU%2FXRJRY7o8CTI%2FAAAAAAAAAf0%2FUye1TVPVQUM35RV0LZIZlvTifRFbcrymQCLcBGAs%2Fs1600%2FF%2525C3%2525ADsica%252B-%252BUma%252BAbordagem%252BEstrat%2525C3%2525A9gica%252B-%252BVol%252B1%252B-%252B2%2525C2%2525AA%252BEd%252B2009_P%2525C3%2525A1gina_001.jpg&f=1&nofb=1&ipt=547e6cc6fa0be84fbb46f93195c47467fff4acd152570ce424e1469904f3b9f1&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Física - Uma Abordagem Estratégica - Vol.2 - Randall D. Knight (2009)"
            description=`
            Termodinâmica, Óptica
            `
            href="https://drive.google.com/file/d/1lkzCzTVriilP0GqBnNKYM5WsW_FE-l00/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F0.academia-photos.com%2Fattachment_thumbnails%2F68073149%2Fmini_magick20220705-11430-3lewqu.png%3F1657029063&f=1&nofb=1&ipt=18bdb24282ba226b639f4f863622bd85c73516fc16bcf369103b4631bbf8cbbf&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Física - Uma Abordagem Estratégica - Vol.3 - Randall D. Knight (2009)"
            description=`
            Eletricidade e Magnetismo `
            href="https://drive.google.com/file/d/1JN--OVyCEOa1454mwW-bDMBnEtM05RUE/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.torob.com%2Fbase%2Fimages%2F69%2FY7%2F69Y7RczUblcI0S4Y.jpg_%2F560x560.webp&f=1&nofb=1&ipt=ac1a35b205d3b7022c06332c771ba01f2e91e0337caecef67740e31fbf70cd11&ipo=images"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <CardMaterials
            client:load
            title="Fundamentos de Física - D. Halliday, R. Resnick, J. Walker - Vol.1 (2012)"
            description=`
            Mecânica Newtoniana e Gravitação
            `
            href="https://drive.google.com/file/d/1gEPZn_AHnOVQcKfWkcq4uJpOj7yf458R/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-zISOI9D-Cuo%2FT8ZItUDqUEI%2FAAAAAAAAAUk%2FSSVsjFEReQs%2Fs1600%2Fhalliday%2B1.jpg&f=1&nofb=1&ipt=9e906ba9cb4671408e22d5e478f378b96a16a67042d26b58ce856f6c62f6ae91&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Fundamentos de Física - D. Halliday, R. Resnick, J. Walker - Vol.2 (2012)"
            description=`
            Termodinâmica, Óptica
            `
            href="https://drive.google.com/file/d/1ZnZCeoWnvHDWu6Lw4rydlYb__Pmnn6nA/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-M-8WrsXCd-o%2FU-wAf-_4MBI%2FAAAAAAAABpE%2FXXMBJiRbTLg%2Fs1600%2FHalliday%252Bcapa%252Bv2%252B8ed.jpg&f=1&nofb=1&ipt=e7c228457daced1fef54ec715f91456656ba9eea0807fdeccceabc8d01bedc99&ipo=images"
          />
        </div>
        <div class="column">
          <CardMaterials
            client:load
            title="Fundamentos de Física - D. Halliday, R. Resnick, J. Walker - Vol.3 (2012)"
            description=`
            Eletricidade e Magnetismo `
            href="https://drive.google.com/file/d/1a6I9JAGv4nR9pIsbPV77pcov2Xod1dOs/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-0GFIfvRUrWk%2FU1AiwSMACnI%2FAAAAAAAAAMI%2FOAiZFatLinU%2Fs1600%2Fhalliday%2Bvol%2B3.JPG&f=1&nofb=1&ipt=25a89aaecc1d8bcebf8be6e438fab9fbb6a1d44ef3d83eaa1d348490c55200d0&ipo=images"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-third">
          <CardMaterials
            client:load
            title="Fundamentos de Física - D. Halliday, R. Resnick, J. Walker - Vol.4 (2012)"
            description=`
            Mecânica Newtoniana e Gravitação
            `
            href="https://drive.google.com/file/d/1SlAWp2Pof7po3JTZ8dVM1jhGkWGjBXkF/view?usp=drive_link"
            imgSrc="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-gI5iTjw-lHY%2FVhVl5qfoKdI%2FAAAAAAAAEuI%2F7mokiWXrfR0%2Fs1600%2Ffundamentos-de-fisica-vol-4%252Bms-matematica.jpg&f=1&nofb=1&ipt=f12f59574128ceac343fca02ecc3125a43bc49d67dee107ece7a0f84469fadf7&ipo=images"
          />
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</MaterialsLayout>

<script>
  import "../../scripts/hubnavigation.js";
</script>
